<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fujitsu.wow.mapper.officeBrain2.Office2_DtpropertiesMapper">

    <select id="getAll" resultType="com.fujitsu.wow.pojo.officeBrain2.Office2_Dtproperties" >
        SELECT * FROM dtproperties;
    </select>

</mapper>
